body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #4CAF50;
}

p {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 30px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form input {
    font-size: 1em;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    background-color: #4CAF50;
    color: white;
    font-size: 1.1em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #45a049;
}

#progress-container {
    width: 100%;
    margin-top: 20px;
}

#progress-bar {
    width: 100%;
    height: 20px;
    border-radius: 5px;
    background-color: #ccc;
}

#progress-text {
    text-align: center;
    font-size: 1.2em;
}

#results {
    margin-top: 30px;
}

#plagiarism-detected h3, #no-plagiarism h3 {
    font-size: 1.5em;
    color: #ff6347;
}

#plagiarism-detected p, #no-plagiarism p {
    font-size: 1.1em;
}
